body {
    font-family: "Segoe UI", Ubuntu, sans-serif;
}

input[type="range"] {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 5px 0;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input[type="range"]:not([orient="vertical"]) {
    height: 32px;
}
input[type="range"][orient="vertical"] {
    width: 16px;
}
input[type="range"]::-moz-range-thumb {
    background-color: white;
    border: 0;
    filter: drop-shadow(0 0 2px rgba(0 0 0 / 65%));
    height: 12px;
    width: 12px;
}
input[type="range"]:hover::-moz-range-thumb {
    background-color: #0a84ff;
}
input[type="range"]::-moz-range-progress {
    background-color: #f9f9fa;
    border-radius: 2.5px;
    height: 5px;
}
input[type="range"]::-moz-range-track {
    background-color: #0c0c0d;
    border-radius: 2.5px;
}
input[type="range"]:not([orient="vertical"])::-moz-range-track {
    height: 5px;
}
input[type="range"][orient="vertical"]::-moz-range-track {
    width: 5px;
}
input[type="range"]:disabled::-moz-range-thumb,
input[type="range"]:disabled:focus::-moz-range-thumb,
input[type="range"]:disabled::-moz-range-progress {
    background-color: #737373;
}

select {
    -moz-appearance: none;
    background-color: rgba(249 249 250 / 10%);
    background-image: url("img/down.svg");
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 11px;
    height: 24px;
    padding: 0 28px 0 8px;
}
select:active {
    background-color: rgba(249 249 250 / 30%);
}
select:disabled {
    cursor: default;
    opacity: 40%;
}
select:focus, select:-moz-focusring {
    box-shadow:
        0 0 0 1px #0a84ff inset,
        0 0 0 1px #0a84ff,
        0 0 0 4px rgba(10 132 255 / 30%);
    color: transparent;
    text-shadow: 0 0 0 white;
}
select:hover:not(:disabled) {
    background-color: rgba(249 249 250 / 20%);
}
