html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    min-width: 325px;
}

button.ghost, label.checkbox, label.radio {
    margin: 8px;
}
button.micro {
    margin: 4px;
}


div {
    text-align: center;
}

label.checkbox, label.radio {
    cursor: pointer;
    display: flex;
    height: 32px;
    width: 32px;
}
label.checkbox img, label.radio img {
    border-radius: 4px;
    padding: 8px;
}
label.checkbox input[type="checkbox"]:not(:disabled) ~ img:hover,
label.radio input[type="radio"]:not(:disabled) ~ img:hover {
    background-color: var(--button-hover-background-color);
}
label.checkbox input[type="checkbox"]:active:not(:disabled) ~ img,
label.radio input[type="radio"]:active:not(:disabled) ~ img {
    background-color: var(--button-active-background-color);
}
label.checkbox input[type="checkbox"]:disabled ~ img,
label.radio input[type="radio"]:disabled ~ img {
    cursor: default;
    opacity: 50%;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] ~ img:last-of-type,
input[type="checkbox"]:checked ~ img:first-of-type {
    display: none;
}
input[type="checkbox"] ~ img:first-of-type,
input[type="checkbox"]:checked ~ img:last-of-type {
    display: inline-block;
}

dialog {
    width: calc(100% - 36px);
}

#dialogerror h1 {
    font-size: 22px;
    font-weight: 300;
    margin: 0;
}
#dialogerror select {
    display: none;
}

#dialogsendtext p:first-child {
    margin-top: 0;
}
#dialogsendtext input[name="text"] {
    width: 100%;
}
#dialogsendtext input[name="done"] {
    display: inline-block;
}

#dialogsubtitle p:first-child {
    margin-top: 0;
}
#dialogsubtitle textarea {
    /* Afficher quatre ligne dans la zone de texte. */
    height: 90px;
    resize: vertical;
    width: 100%;
}

#dialogquit menu {
    flex-direction: column;
}

#cast {
    border-bottom: 1px solid var(--input-border-color);
    display: flex;
}

#paste textarea {
    bottom: 8px;
    display: none;
    /* Réduire de 64px (48px pour la ligne des boutons et 16px des marges). */
    height: calc(100% - 64px);
    left: 8px;
    padding: 8px;
    position: fixed;
    resize: none;
    /* Réduire de 16px pour les marges. */
    width: calc(100% - 16px);
    z-index: 1;
}
#paste input:checked ~ textarea {
    display: block;
}

#server {
    height: initial;
    margin: 8px 16px 8px auto;
    padding: 0;
    visibility: hidden;
    width: initial;
}

#timing {
    align-items: center;
    display: flex;
}
#timing time {
    margin: 0 8px;
    text-align: right;
}
#time {
    flex-grow: 1;
}

#playing {
    border-bottom: 1px solid var(--input-border-color);
    display: flex;
    justify-content: center;
}
#pause {
    display: none;
}

#others {
    display: flex;
    justify-content: center;
}

#sound {
    display: flex;
    flex-direction: column;
}
.Chrome #sound {
    align-items: end;
    width: 48px;
}
.Chrome #volume {
    margin: 32px -16px 32px 0;
    width: 80px;
}
.Firefox #volume {
    height: 80px;
    padding: 8px 16px;
    width: 16px;
}

#remote {
    border-left: 1px solid var(--input-border-color);
    border-right: 1px solid var(--input-border-color);
    display: grid;
    grid-template-columns: repeat(3, auto);
}
#up::before, #left::before, #select::before, #right::before, #down::before {
    background-color: var(--button-background-color);
    content: "";
    height: 48px;
    position: absolute;
    width: 48px;
    z-index: -1;
}

#various {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, auto);
}

#playlist-actions {
    border-top: 1px solid var(--input-border-color);
    display: flex;
    justify-content: flex-end;
}

#repeat label:not(.checked) {
    display: none;
}

#playlist-items {
    flex-grow: 1;
    margin-bottom: 8px;
    /* Afficher 4,5 éléments : (1 + 32) * 4 + (1 + 32 / 2) = 149 */
    min-height: 149px;
    overflow-y: scroll;
    scrollbar-width: thin;
    width: 100vw;
}
/* Utiliser des pseudo-éléments spécifiques car la propriété scrollbar-width
   n'est pas implémentée dans Chromium. https://crbug.com/891944 */
#playlist-items::-webkit-scrollbar {
    background-color: black;
    width: 5px;
}
#playlist-items::-webkit-scrollbar-thumb {
    background-color: var(--range-track-background-color);
    border-radius: 2.5px;
}

#playlist-items ol {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 1px 0;
    row-gap: 1px;
}
#playlist-items ol:empty {
    display: none;
}

#playlist-items li {
    display: flex;
    height: 32px;
    /* Ne pas sélectionner un mot durant un double-clic (pour lancer la
       lecture du média). */
    user-select: none;
}
#playlist-items li:hover {
    background-color: var(--button-background-color);
}
#playlist-items li.drag {
    opacity: 40%;
}
#playlist-items li.drop-before:not(.drag) {
    box-shadow: 0 -1px var(--button-primary-background-color);
}
#playlist-items li.drop-after:not(.drag) {
    box-shadow: 0 1px var(--button-primary-background-color);
}
#playlist-items li span {
    flex-grow: 1;
    line-height: 32px;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 8px;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
}
#playlist-items li:hover:not(.drag) span {
    padding-right: 0;
}
#playlist-items li span.active {
    font-weight: bold;
}
#playlist-items li button {
    display: none;
}
#playlist-items li button:not(:last-of-type) {
    margin-right: 0;
}
#playlist-items li button:not(:first-of-type) {
    margin-left: 0;
}
#playlist-items li:hover:not(.drag) button {
    display: flex;
}

#playlist-items > span {
    color: white;
    display: block;
    font-size: 14px;
    font-style: italic;
    line-height: 32px;
    opacity: 50%;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 16px);
}
#playlist-items.waiting span,
#playlist-items ol:not(:empty) + span {
    display: none;
}

#external {
    border-top: 1px solid var(--input-border-color);
    display: flex;
    justify-content: flex-end;
}
#external span {
    display: flex;
    margin: 8px;
    padding: 8px;
}
#web {
    display: none;
}
