body {
    background-color: #2a2a2e;
    color: #f9f9fa;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0;
    width: 500px;
}

button {
    background: none;
    border: 0;
    padding: 12px 8px;
}
label {
    box-sizing: border-box;
    padding: 12px 8px;
    text-align: center;
    width: 100%;
}
div {
    text-align: center;
}

input[type="checkbox"], input[type="radio"] {
    display: none;
}

button object svg > *, label object svg > * {
    fill: #f9f9fa;
    stroke: #f9f9fa;
}
button:hover object svg > *, label:hover object svg > * {
    fill: #0a84ff;
    stroke: #0a84ff;
}
input[type="checkbox"]:checked ~ object:last-of-type svg > *,
input[type="radio"]:checked ~ object svg > * {
    fill: #0a84ff;
    stroke: #0a84ff;
}
button:disabled object svg > *,
input[type="checkbox"]:disabled ~ object svg > *,
input[type="radio"]:disabled ~ object svg > * {
    fill: #737373;
    stroke: #737373;
}

input[type="checkbox"] ~ object:first-of-type:not(:last-of-type),
input[type="checkbox"]:checked ~ object:last-of-type:not(:first-of-type) {
    display: inline-block;
}
input[type="checkbox"] ~ object:last-of-type:not(:first-of-type),
input[type="checkbox"]:checked ~ object:first-of-type:not(:last-of-type) {
    display: none;
}

input[type="range"].primary::-moz-range-progress {
    background-color: #45a1ff;
}
input[type="range"].disabled::-moz-range-thumb,
input[type="range"].disabled:focus::-moz-range-thumb,
input[type="range"].disabled::-moz-range-progress {
    background-color: #737373;
}

#cast {
    align-items: center;
    border-bottom: 1px solid #737373;
    display: flex;
    grid-column-end: span 2;
}
#cast > * {
    flex: 1;
}

#paste textarea {
    border: 0;
    bottom: 8px;
    display: none;
    height: calc(100% - 78px);
    left: 8px;
    padding: 8px;
    position: fixed;
    width: calc(100% - 32px);
    z-index: 1;
}
#paste input:checked ~ textarea {
    display: block;
}

#rate {
    display: none;
}

#server {
    grid-column-end: span 5;
}
#server select:empty {
    display: none;
}

#playing {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
#playing > * {
    text-align: center;
}

#time {
    grid-column-end: span 4;
}
#volume {
    grid-column-end: span 2;
}
#pause {
    display: none;
}

#repeat input[value="off"]:checked:not(:disabled):not(:hover) ~ object svg > * {
    fill: #f9f9fa;
    stroke: #f9f9fa;
}
#repeat-all, #repeat-one {
    display: none;
}

#remote {
    align-items: center;
    border-left: 1px solid #737373;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#up, #left, #select, #right, #down {
    background-color: #38383d;
}


article {
    background-color: #d70022;
    background-image: url("img/error.svg");
    background-position: 8px 10px;
    background-repeat: no-repeat;
    border-radius: 4px;
    bottom: 8px;
    color: white;
    display: none;
    font-size: 13px;
    height: calc(100% - 32px);
    left: 8px;
    padding: 8px 8px 8px 32px;
    position: fixed;
    width: calc(100% - 56px);
    z-index: 2;
}
article h1 {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
article div {
    text-align: left;
}
article button {
    background-color: #a4000f;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 11px;
    height: 24px;
    padding: 0 8px;
}
article button:hover {
    background-color: #5a0002;
}
article span {
    display: none;
}
article select {
    background-color: #a4000f;
}
article select:hover {
    background-color: #5a0002;
}
