body {
    background-color: #2a2a2e;
    color: #f9f9fa;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    margin: 0;
    min-width: 325px;
}

button.ghost {
    height: 40px;
    padding: 0;
    width: 48px;
}
button.ghost:focus {
    box-shadow: none;
}
button.ghost:hover:not(:disabled) {
    background-color: transparent;
}
label {
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    padding: 12px 0;
    text-align: center;
    width: 48px;
}
div {
    text-align: center;
}
input[type="range"][orient="vertical"] {
    padding: 8px 16px;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

button object svg > *, label object svg > * {
    fill: #f9f9fa;
    stroke: #f9f9fa;
}
button:hover object svg > *, label:hover object svg > * {
    fill: #0a84ff;
    stroke: #0a84ff;
}
input[type="radio"]:checked ~ object svg > *,
input[type="checkbox"]:checked ~ object:last-of-type svg > * {
    fill: #0a84ff;
    stroke: #0a84ff;
}
button:disabled object svg > *,
input[type="radio"]:disabled ~ object svg > *,
input[type="checkbox"]:disabled ~ object svg > * {
    fill: #737373;
    stroke: #737373;
}

input[type="checkbox"] ~ object:first-of-type:not(:last-of-type),
input[type="checkbox"]:checked ~ object:last-of-type:not(:first-of-type) {
    display: inline-block;
}
input[type="checkbox"] ~ object:last-of-type:not(:first-of-type),
input[type="checkbox"]:checked ~ object:first-of-type:not(:last-of-type) {
    display: none;
}

input[type="range"].primary::-moz-range-progress {
    background-color: #45a1ff;
}
input[type="range"].disabled::-moz-range-thumb,
input[type="range"].disabled:focus::-moz-range-thumb,
input[type="range"].disabled::-moz-range-progress {
    background-color: #737373;
}

#dialogsendtext {
    width: calc(100% - 56px);
}
#dialogsendtext p:first-child {
    margin-top: 0;
}
#dialogsendtext input[type="text"] {
    width: calc(100% - 16px);
}
#dialogsendtext input[type="checkbox"] {
    display: inline-block;
}

#cast {
    border-bottom: 1px solid #737373;
    display: flex;
    grid-column-end: span 3;
}

#paste textarea {
    border: 0;
    bottom: 8px;
    display: none;
    height: calc(100% - 78px);
    left: 8px;
    padding: 8px;
    position: fixed;
    resize: none;
    width: calc(100% - 32px);
    z-index: 1;
}
#paste input:checked ~ textarea {
    display: block;
}

#server {
    height: initial;
    margin: 8px 16px 8px auto;
    padding: 0;
    visibility: hidden;
    width: initial;
}

#timing {
    display: flex;
    grid-column-end: span 3;
}
#timing time {
    margin: 12px 8px;
}
#time {
    flex-grow: 1;
}

#playing {
    border-bottom: 1px solid #737373;
    display: flex;
    grid-column-end: span 3;
    justify-content: center;
}
#pause {
    display: none;
}

#sound {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}
#volume {
    grid-row-end: span 2;
    height: 64px;
}

#remote {
    border-left: 1px solid #737373;
    border-right: 1px solid #737373;
    display: grid;
    grid-template-columns: repeat(3, auto);
}
#up, #left, #select, #right, #down {
    background-color: #38383d;
}

#various {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
#playerprocessinfo {
    display: none;
}

#playlist-actions {
    border-top: 1px solid #737373;
    display: flex;
    grid-column-end: span 3;
    justify-content: flex-end;
}

#repeat input[value="off"]:checked:not(:disabled):not(:hover) ~ object svg > * {
    fill: #f9f9fa;
    stroke: #f9f9fa;
}
#repeat label {
    display: none;
}
#repeat label.checked {
    display: inline-block;
}

#playlist-items {
    grid-column-end: span 3;
    margin-bottom: 8px;
    width: 100vw;
}

#playlist-items > span {
    color: #737373;
    display: none;
    font-size: 14px;
    font-style: italic;
    line-height: 32px;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 16px);
}

#playlist-items ol {
    display: none;
    font-size: 14px;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    max-height: 176px;
    overflow-y: auto;
    padding-left: 0;
}

#playlist-items li {
    display: flex;
    height: 32px;
}
#playlist-items li:hover {
    background-color: #38383d;
}
#playlist-items li span {
    flex-grow: 1;
    line-height: 32px;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 8px;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
}
#playlist-items li:hover span {
    padding-right: 0;
}
#playlist-items li span.active {
    font-weight: bold;
}
#playlist-items li button {
    display: none;
    height: 32px;
    min-width: 32px;
    width: 32px;
}
#playlist-items li:hover button {
    display: inline;
}

#external {
    border-top: 1px solid #737373;
    display: flex;
    grid-column-end: span 3;
    justify-content: flex-end;
}
#external span {
    padding: 8px 16px;
}

#splash {
    background-color: #d70022;
    background-image: url("img/error.svg");
    background-position: 8px 10px;
    background-repeat: no-repeat;
    border-radius: 4px;
    bottom: 8px;
    color: white;
    display: none;
    font-size: 13px;
    height: calc(100% - 32px);
    left: 8px;
    padding: 8px 8px 8px 32px;
    position: fixed;
    width: calc(100% - 56px);
    z-index: 2;
}
#splash h1 {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
#splash ul {
    padding-left: 16px;
}
#splash button {
    background-color: #a4000f;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 11px;
    height: 24px;
    padding: 0 8px;
}
#splash button:hover {
    background-color: #5a0002;
}
#splash li:last-child {
    display: none;
}
#splash select {
    background-color: #a4000f;
}
#splash select:hover {
    background-color: #5a0002;
}
