# Ignorer les répertoires et les fichiers générés.
/.stryker/
/build/
/jsdocs/
/node_modules/
/stryker.log

# Ignorer les fichiers de configuration de Visual Studio Code.
/.vscode/

# Ignorer les fichiers de configuration des IDEs de JetBrains : WebStorm,
# IntelliJ IDEA...
/.idea/

# Ignorer les fichiers temporaires de Vim.
*.swp

# Ignorer les autres lockfiles.
/bun.lockb
/pnpm-lock.yaml
/yarn.lock
