body {
    font-family: "Segoe UI", Ubuntu, sans-serif;
}
h3 {
    font-size: 22px;
    font-weight: 300;
}
p {
    font-size: 15px;
    font-weight: normal;
}


label {
    color: #0c0c0d;
}
input[type="text"] {
    border: 1px solid rgba(12, 12, 13, 0.2);
    border-radius: 2px;
    box-shadow: 0 0 0 0 rgba(97, 181, 255, 0);
    font: caption;
    height: 32px;
    padding: 0 8px;
    transition-duration: 250ms;
    transition-property: box-shadow;
}
input[type="text"]:hover {
    border: 1px solid rgba(12, 12, 13, 0.3);
}
input[type="text"]:focus,
input[type="text"]:focus:hover {
    border-color: #0a84ff;
    box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}
input[type="text"]:invalid {
    border-color: #d70022;
    box-shadow: 0 0 0 1px #d70022, 0 0 0 4px rgba(251, 0, 34, 0.3);
}
input[type="text"]::placeholder {
    color: #737373;
}

input[type="checkbox"] {
    -moz-appearance: none;
    background-color: rgba(12, 12, 13, 0.1);
    border: 1px solid rgba(12, 12, 13, 0.3);
    border-radius: 2px;
    height: 16px;
    margin: -2px 4px;
    width: 16px;
}
input[type="checkbox"]:hover {
    background-color: rgba(12, 12, 13, 0.2);
}

input[type="checkbox"]:active {
    background-color: rgba(12, 12, 13, 0.3);
}

input[type="checkbox"]:focus {
    border: none;
    box-shadow:
        0 0 0 1px #0a84ff inset,
        0 0 0 1px #0a84ff,
        0 0 0 4px rgba(10, 132, 255, 0.3);
}

input[type="checkbox"]:checked {
    background-color: #0060df;
    background-image: url("img/photon/check.svg");
    background-position: center center;
}

input[type="checkbox"]:checked:hover {
    background-color: #003eaa;
}

input[type="checkbox"]:checked:active {
    background-color: #002275;
}

input[type="radio"] {
    -moz-appearance: none;
    background-color: rgba(12, 12, 13, 0.1);
    border: 1px solid rgba(12, 12, 13, 0.3);
    border-radius: 100%;
    height: 16px;
    margin-bottom: -2px;
    margin-left: 4px;
    margin-right: 4px;
    width: 16px;
}

input[type="radio"]:hover {
    background-color: rgba(12, 12, 13, 0.2);
}

input[type="radio"]:active {
    background-color: rgba(12, 12, 13, 0.3);
}

input[type="radio"]:focus {
    box-shadow:
        0 0 0 1px #0a84ff inset,
        0 0 0 1px #0a84ff,
        0 0 0 4px rgba(10, 132, 255, 0.3);
}
input[type="radio"]:checked {
    background-color: #0060df;
    background-image: url("img/photon/marker.svg");
    background-position: center center;
}

input[type="radio"]:checked:hover {
    background-color: #003eaa;
}

input[type="radio"]:checked:active {
    background-color: #002275;
}

button {
    background-color: rgba(12, 12, 13, 0.1);
    border: 0;
    border-radius: 2px;
    color: black;
    cursor: pointer;
    font-size: 11px;
    height: 24px;
    padding: 0 8px;
}
button.ghost {
    background-color: transparent;
}
button:hover:not(:disabled) {
    background-color: rgba(12, 12, 13, 0.2);
}
button.ghost:hover:not(:disabled) {
    background-color: rgba(12, 12, 13, 0.1);
}
button:active {
    background-color: rgba(12, 12, 13, 0.3);
}
button.ghost:active {
    background-color: rgba(12, 12, 13, 0.2);
}
button:disabled {
    cursor: default;
    opacity: 0.4;
}
button:focus {
    box-shadow:
        0 0 0 1px #0a84ff inset,
        0 0 0 1px #0a84ff,
        0 0 0 4px rgba(10, 132, 255, 0.3);
}
