#connection input[name="host"] {
    background-image: url("img/loading.svg");
    background-position: right 8px center;
    background-repeat: no-repeat;
    padding: 0 32px 0 8px;
}

.warning {
    background: #ffe900 url("img/warning.svg") 4px center no-repeat;
    border-radius: 4px;
    color: #3e2800;
    display: none;
    font-size: 15px;
    line-height: 1.5;
    padding: 4px 4px 4px 24px;
}
