body {
    /* Déplacer la marge supérieure dans le rembourrage pour contourner le
       problème de la barre de défilement dans Firefox. */
    margin-top: 0;
    padding-top: 8px;
}

sup {
    cursor: help;
}

input[type="text"] {
    background-position: right 8px center;
    background-repeat: no-repeat;
    /* Ajouter du rembourrage à droite pour y mettre une icône. */
    padding-right: 32px;
}
input[name^="address_"] {
    background-image: url("/design/icon/loading-gray.svg");
}

table {
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    border-spacing: 0;
    max-width: 100%;
    overflow-x: auto;
    vertical-align: top;
    width: 100%;
}
th, td {
    padding: 8px;
}
th {
    background-color: var(--button-background-color);
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}
th:not(:first-child) {
    border-image:
        linear-gradient(
            transparent 0%,
            transparent 20%,
            var(--input-border-color) 20%,
            var(--input-border-color) 80%,
            transparent 80%,
            transparent 100%
        ) 1 1;
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
}
td * {
    /* Définir une marge automatique pour que les éléments soient centrés. */
    margin: auto;
}

#server details {
    background-color: var(--button-background-color);
    border: 1px solid var(--button-active-background-color);
    border-radius: 4px;
    margin: 3px 0;
    padding: 9px;
}
#server details[open] {
    background-color: rgba(0 97 224 / 20%);
    border: 1px solid var(--button-primary-background-color);
}
#server summary {
    font-weight: bold;
    list-style: none;
}
#server summary > label {
    display: inline-block;
    width: 100%;
}
#server div, #server table {
    margin-top: 15px;
}
#server table input[type="text"] {
    box-sizing: border-box;
    width: 100%;
}

#menu-contexts div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#youtube-order div {
    display: flex;
}
#youtube-order label {
    flex-grow: 1;
}
