body {
    margin: 22px 8px;
}

sup {
    align-self: start;
    cursor: help;
}

label[data-supported-browser] {
    display: none;
}

input[type="text"] {
    background-position: right 8px center;
    background-repeat: no-repeat;
    max-width: 300px;
    width: 100%;
}
input[type="text"]:invalid {
    /* Ajouter du rembourrage à droite pour y mettre l'icône d'erreur. */
    padding-right: 32px;
}
input[name^="address_"] {
    background-image: url("/design/icon/loading-gray.svg");
    /* Ajouter du rembourrage à droite pour y mettre une icône. */
    padding-right: 32px;
}

table {
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    border-spacing: 0;
    max-width: 100%;
    overflow-x: auto;
    vertical-align: top;
    width: 100%;
}
th,
td {
    padding: 8px;
}
th {
    background-color: var(--button-background-color);
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}
th:not(:first-child) {
    border-image: linear-gradient(
            transparent 0%,
            transparent 20%,
            var(--input-border-color) 20%,
            var(--input-border-color) 80%,
            transparent 80%,
            transparent 100%
        )
        1 1;
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
}
td * {
    /* Définir une marge automatique pour que les éléments soient centrés. */
    margin: auto;
}

.error {
    background-image: url("/design/icon/error-white.svg");
    background-position: 8px center;
    background-repeat: no-repeat;
    border-radius: 4px;
    display: none;
    padding: 8px 8px 8px 32px;
}
.error button {
    margin-top: 8px;
}

#server details {
    background-color: var(--button-background-color);
    border: 1px solid var(--button-active-background-color);
    border-radius: 4px;
    margin: 3px 0;
    padding: 9px;
}
#server details[open] {
    background-color: rgba(0 97 224 / 20%);
    border: 1px solid var(--button-primary-background-color);
}
#server summary {
    font-weight: bold;
    list-style: none;
}
#server div,
#server table {
    margin-top: 15px;
}

#popup-wheel {
    container-type: inline-size;
}
#popup-wheel div {
    display: inline-grid;
    grid-template-columns: repeat(3, 150px);
}
@container (width < 450px) {
    #popup-wheel div {
        grid-template-columns: repeat(1, 150px);
    }
}

#menu-actions div {
    display: inline-flex;
    flex-direction: column;
}

#menu-contexts div {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    max-width: 450px;
}

#youtube-playlist div {
    display: inline-flex;
    flex-direction: column;
}

#youtube-order {
    container-type: inline-size;
}
#youtube-order div {
    display: inline-grid;
    grid-template-columns: repeat(4, 150px);
}
@container (width < 600px) {
    #youtube-order div {
        grid-template-columns: repeat(2, 150px);
    }
}
@container (width < 300px) {
    #youtube-order div {
        grid-template-columns: repeat(1, 150px);
    }
}
