:root {
    --background-color: rgb(42 42 46);
    --color: white;

    --label-color: rgb(251 251 254);

    --a-color: rgb(0 97 224);
    --a-hover-color: rgb(2 80 187);

    --button-color: rgb(251 251 254);
    --button-background-color: rgb(91 91 102 / 33%);
    --button-hover-background-color: rgb(91 91 102 / 66%);
    --button-active-background-color: rgb(91 91 102);

    --button-primary-color: rgb(251 251 254);
    --button-primary-background-color: rgb(0 97 224);
    --button-primary-hover-background-color: rgb(2 80 187);
    --button-primary-active-background-color: rgb(5 62 148);

    --input-border-color: rgba(251 251 254 / 41%);
    --input-focus-border-color: rgb(0 97 224);
    --input-invalid-border-color: rgb(215 0 34);
    --input-placeholder-color: rgba(21 20 26 / 41%);

    --checkboxradio-background-color: rgba(43 42 51);
    --checkboxradio-hover-background-color: rgba(82 82 94);
    --checkboxradio-active-background-color: rgba(91 91 102);

    --checkboxradio-checked-background-color: rgb(0 97 224);
    --checkboxradio-checked-hover-background-color: rgb(2 80 187);
    --checkboxradio-checked-active-background-color: rgb(5 62 148);

    --range-thumb-background-color: rgb(251 251 254);
    --range-progress-background-color: rgb(251 251 254);
    --range-track-background-color: rgb(251 251 254 / 33%);
    --range-hover-track-background-color: rgb(251 251 254 / 66%);

    --range-primary-progress-background-color: rgb(0 97 224);
}
