body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: system-ui;
}
h3 {
    font-size: 22px;
    font-weight: 300;
}
p {
    font-size: 15px;
    font-weight: normal;
}
a {
    color: var(--a-color);
}
a:hover {
    color: var(--a-hover-color);
}

label {
    align-items: center;
    color: var(--label-color);
    display: flex;
}
input[type="date"],
input[type="password"],
input[type="number"],
input[type="text"],
textarea {
    background-color: white;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    box-sizing: border-box;
    font: caption;
    outline: 2px solid transparent;
    outline-offset: -1px;
}
input[type="date"],
input[type="password"],
input[type="number"],
input[type="text"] {
    height: 32px;
    padding: 0 8px;
}
textarea {
    min-height: 36px;
    padding: 8px;
}
input[type="date"]:invalid,
input[type="password"]:invalid,
input[type="number"]:invalid,
input[type="text"]:invalid,
textarea:invalid {
    border-color: transparent;
    outline-color: var(--input-invalid-border-color);
}
input[type="date"]:hover:not(:disabled),
input[type="date"]:focus:not(:disabled),
input[type="password"]:hover:not(:disabled),
input[type="password"]:focus:not(:disabled),
input[type="number"]:hover:not(:disabled),
input[type="number"]:focus:not(:disabled),
input[type="text"]:hover:not(:disabled),
input[type="text"]:focus:not(:disabled),
textarea:hover:not(:disabled),
textarea:focus:not(:disabled) {
    outline-color: var(--input-focus-border-color);
}
input[type="date"]::placeholder,
input[type="password"]::placeholder,
input[type="number"]::placeholder,
input[type="text"]::placeholder,
textarea::placeholder {
    color: var(--input-placeholder-color);
}
input[type="date"]:disabled,
input[type="password"]:disabled,
input[type="number"]:disabled,
input[type="text"]:disabled,
textarea:disabled {
    cursor: default;
    opacity: 50%;
}

input[type="checkbox"] {
    appearance: none;
    background-color: var(--checkboxradio-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: 2px;
    height: 16px;
    margin: 3px;
    /* Ajouter "min-width" pour empêcher le navigateur d'écraser la case à
       cocher. */
    min-width: 16px;
    width: 16px;
}
input[type="checkbox"]:hover:not(:disabled),
input[type="checkbox"]:focus:not(:disabled) {
    background-color: var(--checkboxradio-hover-background-color);
}
input[type="checkbox"]:active:not(:disabled) {
    background-color: var(--checkboxradio-active-background-color);
}
input[type="checkbox"]:disabled,
label:has(input[type="checkbox"]:disabled) {
    cursor: default;
    opacity: 50%;
}
input[type="checkbox"]:checked {
    background-color: var(--checkboxradio-checked-background-color);
    background-image: url("img/check.svg");
    background-position: center center;
}
input[type="checkbox"]:checked:hover:not(:disabled),
input[type="checkbox"]:checked:focus:not(:disabled) {
    background-color: var(--checkboxradio-checked-hover-background-color);
}
input[type="checkbox"]:checked:active:not(:disabled) {
    background-color: var(--checkboxradio-checked-active-background-color);
}

input[type="radio"] {
    appearance: none;
    background-color: var(--checkboxradio-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: 100%;
    height: 16px;
    margin: 3px;
    /* Ajouter "min-width" pour empêcher le navigateur d'écraser la case à
       cocher. */
    min-width: 16px;
    width: 16px;
}
input[type="radio"]:hover:not(:disabled),
input[type="radio"]:focus:not(:disabled) {
    background-color: var(--checkboxradio-hover-background-color);
}
input[type="radio"]:active:not(:disabled) {
    background-color: var(--checkboxradio-active-background-color);
}
input[type="radio"]:checked {
    background-color: var(--checkboxradio-checked-background-color);
    background-image: url("img/marker.svg");
    background-position: center center;
}
input[type="radio"]:checked:hover:not(:disabled),
input[type="radio"]:checked:focus:not(:disabled) {
    background-color: var(--checkboxradio-checked-hover-background-color);
}
input[type="radio"]:checked:active:not(:disabled) {
    background-color: var(--checkboxradio-checked-active-background-color);
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: 32px;
    margin: 0;
    padding: 5px 0;
}
input[type="range"]:focus:not(:disabled) {
    outline: none;
}
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background-color: var(--range-thumb-background-color);
    border: 0;
    border-radius: 50%;
    filter: drop-shadow(0 0 2px rgb(0 0 0 / 65%));
    height: 12px;
    width: 12px;
}
input[type="range"]:not(.vertical)::-webkit-slider-thumb {
    /* Remonter le curseur pour qu'il soit centré. */
    margin-top: -3.5px;
}
input[type="range"].vertical::-webkit-slider-thumb {
    /* Décaler à gauche le curseur pour qu'il soit centré. */
    margin-left: -3px;
}
input[type="range"]::-moz-range-thumb {
    background-color: var(--range-thumb-background-color);
    border: 0;
    filter: drop-shadow(0 0 2px rgb(0 0 0 / 65%));
    height: 12px;
    width: 12px;
}
input[type="range"]:hover:not(:disabled)::-webkit-slider-thumb {
    outline: 6px solid var(--button-hover-background-color);
}
input[type="range"]:hover:not(:disabled)::-moz-range-thumb {
    outline: 6px solid var(--button-hover-background-color);
}

input[type="range"]::-moz-range-progress {
    background-color: var(--range-progress-background-color);
    border-radius: 5px;
}
input[type="range"].primary::-moz-range-progress {
    background-color: var(--range-primary-progress-background-color);
}
input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--range-track-background-color);
    border-radius: 5px;
}
input[type="range"]::-moz-range-track {
    background-color: var(--range-track-background-color);
    border-radius: 5px;
}
input[type="range"]:hover:not(:disabled)::-webkit-slider-runnable-track {
    background-color: var(--range-hover-track-background-color);
}
input[type="range"]:hover:not(:disabled)::-moz-range-track {
    background-color: var(--range-hover-track-background-color);
}
input[type="range"]:not(.vertical)::-webkit-slider-runnable-track {
    height: 5px;
}
input[type="range"].vertical::-webkit-slider-runnable-track {
    width: 5px;
}
input[type="range"]:not(.vertical)::-moz-range-progress,
input[type="range"]:not(.vertical)::-moz-range-track {
    height: 5px;
}
input[type="range"].vertical::-moz-range-progress,
input[type="range"].vertical::-moz-range-track {
    width: 5px;
}
input[type="range"]:disabled {
    cursor: default;
    opacity: 50%;
}

button {
    align-items: center;
    background-color: var(--button-background-color);
    border: 0;
    border-radius: 4px;
    color: var(--button-color);
    cursor: pointer;
    display: flex;
    font-size: 13px;
    justify-content: center;
    min-width: 132px;
    padding: 8px;

    img {
        height: 16px;
        width: 16px;
    }
}
button:hover:not(:disabled) {
    background-color: var(--button-hover-background-color);
}
button:active:not(:disabled) {
    background-color: var(--button-active-background-color);
}
button:disabled {
    cursor: default;
    opacity: 50%;
}
button.primary {
    background-color: var(--button-primary-background-color);
    color: var(--button-primary-color);
}
button.primary:hover:not(:disabled) {
    background-color: var(--button-primary-hover-background-color);
}
button.primary:active:not(:disabled) {
    background-color: var(--button-primary-active-background-color);
}
button.micro {
    min-width: initial;
    padding: 4px;
}
button.ghost {
    background-color: transparent;
    min-width: initial;
}
button.ghost:hover:not(:disabled) {
    background-color: var(--button-hover-background-color);
}
button.ghost:active:not(:disabled) {
    background-color: var(--button-active-background-color);
}

select {
    align-items: center;
    appearance: none;
    background-color: var(--button-background-color);
    background-image: url("img/drop.svg");
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    border: 0;
    border-radius: 4px;
    color: var(--button-color);
    cursor: pointer;
    font-size: 13px;
    justify-content: center;
    overflow-x: hidden;
    padding: 8px 28px 8px 8px;
    text-overflow: ellipsis;
}
select:hover:not(:disabled) {
    background-color: var(--button-hover-background-color);
}
select:active:not(:disabled) {
    background-color: var(--button-active-background-color);
}
select:disabled {
    cursor: default;
    opacity: 50%;
}

dialog {
    background-color: var(--background-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgb(12 12 13 / 10%);
    box-sizing: border-box;
    padding: 16px;
}
dialog::backdrop {
    background-color: rgb(0 0 0 / 50%);
}
dialog menu {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0;
    padding-left: 0;
}
dialog menu button,
dialog menu select {
    flex: 1 1 0;
    max-width: 100%;
    min-width: auto;
}

.error {
    background-color: var(--error-background-color);
    border-color: var(--error-border-color);
    color: var(--error-color);
}
.warning {
    background-color: var(--warning-background-color);
    border-color: var(--warning-border-color);
    color: var(--warning-color);
}
.error,
.warning {
    border-style: solid;
    border-width: 1px;
}
.error button,
.error select {
    background-color: color-mix(
        in srgb,
        var(--error-background-color),
        black 20%
    );
    color: var(--color);
}
.error button:hover:not(:disabled),
.error button:active:not(:disabled),
.error select:hover:not(:disabled),
.error select:active:not(:disabled) {
    background-color: color-mix(
        in srgb,
        var(--error-background-color),
        black 30%
    );
}
