body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: system-ui;
}
h3 {
    font-size: 22px;
    font-weight: 300;
}
p {
    font-size: 15px;
    font-weight: normal;
}


label {
    color: var(--label-color);
}
input[type="date"],
input[type="password"],
input[type="number"],
input[type="text"],
textarea {
    background-color: white;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    box-sizing: border-box;
    font: caption;
    outline: 2px solid transparent;
    outline-offset: -1px;
}
input[type="date"],
input[type="password"],
input[type="number"],
input[type="text"] {
    height: 32px;
    padding: 0 8px;
}
textarea {
    min-height: 36px;
    padding: 8px;
}
input[type="date"]:invalid,
input[type="password"]:invalid,
input[type="number"]:invalid,
input[type="text"]:invalid,
textarea:invalid {
    border-color: transparent;
    outline-color: var(--input-invalid-border-color);
}
input[type="date"]:hover:not(:disabled),
input[type="date"]:focus:not(:disabled),
input[type="password"]:hover:not(:disabled),
input[type="password"]:focus:not(:disabled),
input[type="number"]:hover:not(:disabled),
input[type="number"]:focus:not(:disabled),
input[type="text"]:hover:not(:disabled),
input[type="text"]:focus:not(:disabled),
textarea:hover:not(:disabled),
textarea:focus:not(:disabled) {
    outline-color: var(--input-focus-border-color);
}
input[type="date"]::placeholder,
input[type="password"]::placeholder,
input[type="number"]::placeholder,
input[type="text"]::placeholder,
textarea::placeholder {
    color: var(--input-placeholder-color);
}
input[type="date"]:disabled,
input[type="password"]:disabled,
input[type="number"]:disabled,
input[type="text"]:disabled,
textarea:disabled {
    cursor: default;
    opacity: 50%;
}

input[type="checkbox"] {
    appearance: none;
    background-color: var(--checkboxradio-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: 2px;
    height: 16px;
    margin: -2px 4px;
    width: 16px;
}
input[type="checkbox"]:hover:not(:disabled),
input[type="checkbox"]:focus:not(:disabled) {
    background-color: var(--checkboxradio-hover-background-color);
}
input[type="checkbox"]:active:not(:disabled) {
    background-color: var(--checkboxradio-active-background-color);
}
input[type="checkbox"]:disabled {
    cursor: default;
    opacity: 50%;
}
input[type="checkbox"]:checked {
    background-color: var(--checkboxradio-checked-background-color);
    background-image: url("img/check.svg");
    background-position: center center;
}
input[type="checkbox"]:checked:hover:not(:disabled),
input[type="checkbox"]:checked:focus:not(:disabled) {
    background-color: var(--checkboxradio-checked-hover-background-color);
}
input[type="checkbox"]:checked:active:not(:disabled) {
    background-color: var(--checkboxradio-checked-active-background-color);
}

input[type="radio"] {
    appearance: none;
    background-color: var(--checkboxradio-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: 100%;
    height: 16px;
    margin-bottom: -2px;
    margin-left: 4px;
    margin-right: 4px;
    width: 16px;
}
input[type="radio"]:hover:not(:disabled),
input[type="radio"]:focus:not(:disabled) {
    background-color: var(--checkboxradio-hover-background-color);
}
input[type="radio"]:active:not(:disabled) {
    background-color: var(--checkboxradio-active-background-color);
}
input[type="radio"]:checked {
    background-color: var(--checkboxradio-checked-background-color);
    background-image: url("img/marker.svg");
    background-position: center center;
}
input[type="radio"]:checked:hover:not(:disabled),
input[type="radio"]:checked:focus:not(:disabled) {
    background-color: var(--checkboxradio-checked-hover-background-color);
}
input[type="radio"]:checked:active:not(:disabled) {
    background-color: var(--checkboxradio-checked-active-background-color);
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin: 0;
}
input[type="range"]:not([orient="vertical"]) {
    height: 32px;
    padding: 5px 0;
}
.Firefox input[type="range"][orient="vertical"] {
    padding: 0 5px;
    width: 32px;
}
.Chrome input[type="range"][orient="vertical"] {
    height: 32px;
    /* Les sliders verticaux ne peuvent pas être stylisés dans Chromium, il faut
       donc les faire pivoter manuellement pour ensuite pouvoir les styliser.
       https://crbug.com/341071 */
    transform: rotate(270deg);
}
input[type="range"]:focus:not(:disabled) {
    outline: none;
}
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background-color: var(--range-thumb-background-color);
    border: 0;
    border-radius: 50%;
    filter: drop-shadow(0 0 2px rgba(0 0 0 / 65%));
    height: 12px;
    /* Remonter le curseur pour qu'il soit au centre. */
    margin-top: -3.5px;
    width: 12px;
}
input[type="range"]::-moz-range-thumb {
    background-color: var(--range-thumb-background-color);
    border: 0;
    filter: drop-shadow(0 0 2px rgba(0 0 0 / 65%));
    height: 12px;
    width: 12px;
}
input[type="range"]:hover:not(:disabled)::-webkit-slider-thumb {
    /* Remplacer outline par box-shadow car Chromium n'applique pas le
       border-radius sur le outline. https://crbug.com/81556 */
    box-shadow: 0 0 0 6px var(--button-hover-background-color);
}
input[type="range"]:hover:not(:disabled)::-moz-range-thumb {
    outline: 6px solid var(--button-hover-background-color);
}
input[type="range"]::-moz-range-progress {
    background-color: var(--range-progress-background-color);
    border-radius: 2.5px;
}
input[type="range"].primary::-moz-range-progress {
    background-color: var(--range-primary-progress-background-color);
}
input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--range-track-background-color);
    border-radius: 2.5px;
}
input[type="range"]::-moz-range-track {
    background-color: var(--range-track-background-color);
    border-radius: 2.5px;
}
input[type="range"]:hover:not(:disabled)::-webkit-slider-runnable-track {
    background-color: var(--range-hover-track-background-color);
}
input[type="range"]:hover:not(:disabled)::-moz-range-track {
    background-color: var(--range-hover-track-background-color);
}
input[type="range"]:not([orient="vertical"])::-webkit-slider-runnable-track,
input[type="range"][orient="vertical"]::-webkit-slider-runnable-track {
    height: 5px;
}
input[type="range"]:not([orient="vertical"])::-moz-range-progress,
input[type="range"]:not([orient="vertical"])::-moz-range-track {
    height: 5px;
}
input[type="range"][orient="vertical"]::-moz-range-progress,
input[type="range"][orient="vertical"]::-moz-range-track {
    width: 5px;
}
input[type="range"]:disabled {
    cursor: default;
    opacity: 50%;
}

button {
    align-items: center;
    background-color: var(--button-background-color);
    border: 0;
    border-radius: 4px;
    color: var(--button-color);
    cursor: pointer;
    display: flex;
    font-size: 13px;
    justify-content: center;
    min-width: 132px;
    padding: 8px;
}
button:hover:not(:disabled) {
    background-color: var(--button-hover-background-color);
}
button:active:not(:disabled) {
    background-color: var(--button-active-background-color);
}
button:disabled {
    cursor: default;
    opacity: 50%;
}
button.primary {
    background-color: var(--button-primary-background-color);
    color: var(--button-primary-color);
}
button.primary:hover:not(:disabled) {
    background-color: var(--button-primary-hover-background-color);
}
button.primary:active:not(:disabled) {
    background-color: var(--button-primary-active-background-color);
}
button.micro {
    min-width: initial;
    padding: 4px;
}
button.ghost {
    background-color: transparent;
    min-width: initial;
}
button.ghost:hover:not(:disabled) {
    background-color: var(--button-hover-background-color);
}
button.ghost:active:not(:disabled) {
    background-color: var(--button-active-background-color);
}

select {
    appearance: none;
    background-color: var(--button-background-color);
    background-image: url("img/drop.svg");
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    border: 0;
    border-radius: 4px;
    color: var(--button-color);
    cursor: pointer;
    font-size: 11px;
    height: 24px;
    padding: 0 28px 0 8px;
}
select:hover:not(:disabled) {
    background-color: var(--button-hover-background-color);
}
select:active:not(:disabled) {
    background-color: var(--button-active-background-color);
}
select:disabled {
    cursor: default;
    opacity: 50%;
}

dialog {
    background-color: var(--background-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(12 12 13 / 10%);
    box-sizing: border-box;
    padding: 16px;
}
dialog::backdrop, dialog + .backdrop {
    background-color: rgba(0 0 0 / 50%);
}
dialog menu {
    display: flex;
    gap: 8px;
    margin: 0;
    padding-left: 0;
}
dialog menu button {
    flex: 1 1 0;
    min-width: auto;
}
