name: Release
on:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Run Release Please
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release
        with:
          config-file: .release-please/config.json
          manifest-file: .release-please/manifest.json

      # Si la PR (pull request) a été créée ou modifiée : formatter les fichiers
      # modifiés par release-please, car ils ne respectent plus le formatage de
      # Prettier (via Metalint).
      # https://github.com/googleapis/release-please/issues/1802
      - name: Checkout repository
        if: ${{ steps.release.outputs.pr }}
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ fromJSON(steps.release.outputs.pr).headBranchName }}
          # Récupérer deux commits sinon la réparation du commit (pour le
          # formatage) rompt le lien entre la branche de la release et la
          # branche main.
          fetch-depth: 2

      - name: Configure Git user
        if: ${{ steps.release.outputs.pr }}
        run: |
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"

      - name: Setup Node.js
        if: ${{ steps.release.outputs.pr }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24

      - name: Install dependencies
        if: ${{ steps.release.outputs.pr }}
        run: npm ci

      - name: Format files
        if: ${{ steps.release.outputs.pr }}
        run: >
          npm run lint:fix -- .release-please/manifest.json CHANGELOG.md
          package.json package-lock.json src/manifest.json

      - name: Commit and push
        if: ${{ steps.release.outputs.pr }}
        run: |
          git commit --all --amend --no-edit
          git push --force
